@tailwind base;
@tailwind components;
@tailwind utilities;

.panel-body {
  padding: 1.6rem;
}

.layoutCell {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mdc-theme-secondary, #333);
  color: var(--mdc-theme-on-secondary, #fff);
}
